.home p {
  margin: 0;
}

.home .paragraph {
  margin-top: 1.25rem;
}

.home .paragraph.hint {
  font-size: .9375rem;
  margin-top: 2rem;
}

.home h1,
.home h2,
.home h3 {
  line-height: 1.2;
  margin: 0;
}

.home h1.page {
  font-size: 2.375rem;
  margin-top: 3.5rem;
  text-align: center;
}

.home .button::before {
  content: "[";
  padding-right: .25em;
}

.home .button::after {
  content: "]";
  padding-left: .25em;
}

.blade ul,
.tile ul {
  line-height: 1.25;
  list-style: none;
  margin: 0;
  padding: 0;
}

.blade li,
.tile li {
  padding: .25em 0;
}

.blade a,
.tile a {
  position: relative;
  text-decoration: none;
}

.home #preamble {
  font-size: 1.125rem;
  margin: 2rem 0 3rem;
  text-align: center;
}

.blade a::before,
.tile a::before {
  background-color: currentColor;
  bottom: -3px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  transform: scale3d(0,.9999,.9999);
  transition-duration: .3s;
  transition-property: transform;
}

.blade a:focus::before,
.blade a:hover::before,
.tile a:focus::before,
.tile a:hover::before {
  transform: scale3d(1,.9999,.9999);
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.conceal-title > h2 {
  display: none;
}

.blades > .sectionbody {
  display: flex;
  flex-direction: column;
}

.blade {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1.25rem;
}

.blade + .blade {
  margin-top: .75rem;
}

.home .blade {
  color: #fff;
}

.home .blade:nth-of-type(1) {
  background-color: var(--color-brand-pink);
}

.home .blade:nth-of-type(2) {
  background-color: var(--color-brand-green);
}

.home .blade:nth-of-type(3) {
  background-color: var(--color-brand-light-blue);
}

.blade h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 0 1rem;
  position: relative;
}

.blade h3::after {
  background-color: currentColor;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 25%;
}

.blade .paragraph {
  flex: 1 0 auto; /* NOTE must specify flex-basis for IE 11 */
  font-weight: var(--weight-light);
  margin-top: 1rem;
}

.blade .ulist {
  font-weight: var(--weight-bold);
  margin: 1.5rem 0 .5rem;
  /* overflow-wrap: normal; */
  word-wrap: normal; /* NOTE not sure why this is required, but without it, list items get spaced apart */
}

.blade a {
  color: inherit;
}

.blade a::after {
  content: "\00a0>";
  display: inline-block;
  width: 0;
}

.home .tiles {
  font-size: 1.125rem;
  margin-top: 2.5rem;
}

.tiles > h2 {
  font-size: 2rem;
  hyphens: auto;
  padding-bottom: 3.125rem;
  text-align: center;
}

.tiles > h2::after {
  background-color: currentColor;
  content: "";
  display: block;
  height: 1px;
  margin: 0 auto -1px;
  position: relative;
  top: 1.375rem;
  width: 5.625rem;
}

.tiles > .sectionbody {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 1;
  margin-bottom: .75rem;
  min-width: 0;
}

.home .tile {
  flex-basis: auto;
  width: 50%;
}

.tile .title {
  font-weight: var(--weight-bold);
}

@media screen and (min-width: 769px) {
  .home h1.page,
  .home #preamble {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .blades > .sectionbody {
    flex-direction: row;
  }

  .blade h3 {
    width: 66.66%;
  }

  .blade h3::after {
    width: 37.5%; /* NOTE equates to 25% of container */
  }

  .blade + .blade {
    margin-left: .75rem;
    margin-top: 0;
  }

  .home .tiles {
    padding: 0 10%;
  }

  .tiles > .sectionbody {
    margin: 0 -.5rem;
  }

  .home .tile {
    flex-basis: 0;
  }

  .tile {
    margin-bottom: 0;
    padding: 0 .5rem;
  }
}
