<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{{detag (or page.title 'Page Not Found')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
{{> head}}
<body>
  {{> body-scripts}}
  <section class="flex col">
  {{> header}}
  {{> body}}
  {{> footer}}
  {{> search}}
